tests/dummy-model/model/model.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:complexType name="NamedComplexType">
		<xs:attribute name="name" type="xs:string" use="required" />
		<xs:attribute name="description" type="xs:string" use="optional" />
	</xs:complexType>


	<xs:element name="SimulationArchitecture">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="NamedComplexType">

					<xs:sequence>
						<xs:element name="Templates">
							<xs:complexType>
								<xs:sequence>
									<xs:element maxOccurs="unbounded" name="Template" type="TemplateComplexType" />
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="BaseConnections">
							<xs:complexType>
								<xs:sequence>
									<xs:element maxOccurs="unbounded"
										name="BaseConnection">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="SimulationConnections">
													<xs:complexType>
														<xs:sequence>
															<xs:element maxOccurs="unbounded" name="SimulationConnection">
																<xs:complexType>
																	<xs:attribute name="from" type="xs:string" use="required" />
																	<xs:attribute name="to" type="xs:string" use="required" />
																</xs:complexType>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
											<xs:attribute name="fromTemplate" type="xs:string" use="required" />
											<xs:attribute name="fromBasePort" type="xs:string" use="required" />
											<xs:attribute name="toTemplate" type="xs:string" use="required" />
											<xs:attribute name="toBasePort" type="xs:string" use="required" />
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="Attributes">
							<xs:complexType>
								<xs:sequence>
									<xs:element minOccurs="0" maxOccurs="unbounded" name="Attribute" type="AttributeComplexType" />
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="Exposures">
							<xs:complexType>
								<xs:sequence>
									<xs:element maxOccurs="unbounded" name="Exposure"
										type="ExposureComplexType" />
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="ExposureComplexType">
		<xs:attribute use="required" name="name" type="xs:string" />
		<xs:attribute use="required" name="type" type="xs:string" />
		<xs:attribute use="required" name="expression"
			type="xs:string" />
	</xs:complexType>



	<xs:complexType name="TemplateComplexType">
		<xs:complexContent>
			<xs:extension base="NamedComplexType">

				<xs:sequence minOccurs="0">
					<xs:element name="ComposedPorts">
						<xs:complexType>
							<xs:sequence>
								<xs:element maxOccurs="unbounded" name="ComposedPort">
									<xs:complexType>
										<xs:sequence>
											<xs:element minOccurs="0" name="SimulationPorts">
												<xs:complexType>
													<xs:sequence>
														<xs:element maxOccurs="unbounded"
															name="SimulationPort">
															<xs:complexType>
																<xs:attribute use="required" name="name"
																	type="xs:string" />
																<xs:attribute use="required" name="style"
																	type="xs:string" />
																<xs:attribute use="required" name="type"
																	type="xs:string" />
															</xs:complexType>
														</xs:element>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
										</xs:sequence>
										<xs:attribute use="required" name="name" type="xs:string" />
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="Attributes">
						<xs:complexType>
							<xs:sequence>
								<xs:element minOccurs="0" maxOccurs="unbounded" name="Attribute" type="AttributeComplexType" />
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element minOccurs="0" name="Exposures">
						<xs:complexType>
							<xs:sequence>
								<xs:element maxOccurs="unbounded" name="Exposure" type="ExposureComplexType" />
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
				<xs:attribute use="required" name="style" type="xs:string" />
				<xs:attribute use="required" name="xpos" type="xs:integer" />
				<xs:attribute use="required" name="ypos" type="xs:integer" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="AttributeComplexType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute use="required" name="name" type="xs:string" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	
</xs:schema>